<!doctype html>
<html lang="en">
<head>
	<title>Coinbase price</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.css" rel="stylesheet" media="screen"> 
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span8">
				{{ price['amount'] }}
			</div>
		</div>
	</div>
</body>
<script src="/static/js/jquery-1.10.0.js"></script>
<script src="/static/js/bootstrap.js"></script>

</html>
